.DisciplinesBuilder {
    width: 100%;
    background-color: #A1A1A1;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}
.WeightButton {
    background-color: #FF0000;
    outline: none;
    cursor: pointer;
    border: 1px solid #EB0E0E;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px #EB0E0E;
}