.Drawer{
    width: 240px;
    flexShrink: 0;
}
.Drawer div{
    background:#057A22;
    color: #FFF;
}
.DrawerHeader{
    display: flex;
    padding: 0px 8px;
    min-height: 56px;
    align-items: center;
    justify-content: flex-end;
}
.LeftIcon{
    color: #FFFFFF;
}
.Drawer .collapseSaving{
    padding-left: 32px;
}