.Btn {
    border: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.btnLift {
    background-color: #FF0000;
    font-size: 50px;
    width: 45%;
    color: #FFF;
    border-radius: 10px;
}

.Danger {
    color: #944317;
}
.Button:disabled{
    color: #CCC;
    cursor: not-allowed;
}