.Button{
    width: 100px;
    height: 35px;
    cursor: pointer;
    margin: 0 auto;
}
.Button.back{
    background: red;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
    margin:0;
}
.Button.submitAhorro{
    background: #057A22;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    border: none;
    margin: 0;
    width: 100%;
}

.Button.removeStatementItem{
    background: #DB0202;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}