.MovGrid {
    display: inherit;
}
.Movement {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 35px;
    background: linear-gradient(90deg, rgba(70,24,24,1) 0%, rgba(255,6,6,1) 75%);;
    color: #FFFFFF;
    padding: 50px 100px 50px 100px;
    margin-top: 150px;
    width: 50%;
    text-align: center;
}