.ProfileInfo{
    width:80%;
}
.ProfileInfo .ProfileData{
    margin: 20px auto;
}
.ProfileInfo .ProfileData p{
    margin: 0;
    font-size: 15;
    margin-left: 20px;
}
.ProfileInfo .ProfileData strong{
    font-size: 18px;
}