.Header{
    background: #000000;
    
}
.Header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
.Header li {
    float: left;
}
.Header li a {
    background: #000;
    color: #0AFA26;
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}
.Header ul a:hover{
    font-weight: bold;
    transition: all 0.6s ease;
}

@media (min-width: 320px) and (max-width: 480px) {
    .itemLinks{
        display:none;
    }
    .list{
        width:250px;
    }
}