.sectionHeading {
	text-align: center;
	margin-bottom: 80px;
}

.sectionHeading h2 {
	font-size: 36px;
	font-weight: 600;
	color: #1e1e1e;
}

.sectionHeading em {
	font-style: normal;
	color: #a4c639;
}

.sectionHeading span {
	display: block;
	margin-top: 15px;
	text-transform: uppercase;
	font-size: 15px;
	color: #666;
	letter-spacing: 1px;
}

.details {
	background-color: #f7f7f7;
	margin-top: 140px;
	margin-bottom: -140px;
	padding: 120px 0px;
}

.detailItem img {
	width: 100%;
	overflow: hidden;
}

.detailItem .downContent {
	background-color: #fff;
	padding: 30px;
}

.detailItem .downContent h4 {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.25px;
	margin-bottom: 10px;
}

.detailItem .downContent span {
	color: #a4c639;
	font-weight: 600;
	font-size: 14px;
	display: block;
	margin-bottom: 15px;
}

.detailItem .downContent p {
	margin-bottom: 20px;
}

@media (max-width: 768px) {
    .details .detailItem {
		margin-bottom: 30px;
	}
}
